<h1>Welcome to rubyonrails</h1>
<p>Lets try to do this Twitter app!!</p>
<%= form_for :search_form, url: "welcome/search" do |form| %>
  <%= form.text_field :query %>
  <%= form.submit :Search %>
<% end  %>
